body {
	font-family: 'Montserrat', sans-serif;
}

header{
	left:50%;
	margin-top:10px;
	margin-left:250px;
	margin-right:250px;
	padding: 10px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	font-stretch: expanded;
	color: lightgray;
	-webkit-transition: color 1s ease-out;
	-moz-transition: color 1s ease-out;
	-o-transition: color 1s ease-out;
	-ms-transition: color 1s ease-out;
	transition: color 1s ease-out;
} 

section {
	left:50%;
	margin-top:10px;
	margin-left:250px;
	margin-right:250px;
	padding: 10px;
}

header:hover {
   color: #393E41;
}

h1 {
	font-size: 25px;
}

h2{
	left:50%;
	margin-top:10px;
	font-weight: bold;
	text-align: center;
	font-stretch: expanded;
	color: #393E41;
} 



div {
	display: inline-block;
	margin-left:90px;
	margin-right: 90px;

}

a {
	font-style: none;
	text-decoration: none;
	color: lightgray;
	-webkit-transition: color 1s ease-out;
	-moz-transition: color 1s ease-out;
	-o-transition: color 1s ease-out;
	-ms-transition: color 1s ease-out;
	transition: color 1s ease-out;
}

a:hover {
	color: #E94F37;
}

path {
  stroke: #000;
}


footer {
	margin-top:20px;
	margin-left:250px;
	margin-right:250px;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	font-stretch: expanded;
	color: lightgray;
}



body, html{
	margin:0;padding:0;
	font-size: 1.2em;
}

section{
	max-width: 1220px;
	width: 88%;
	margin: 5px auto 40px;
}

h2{
	font-size: 56px;
	background-color: white;
	width:800px;
	text-align: center;
}

h3{
	margin: 2px 0;
	font-size: 28px;
}


svg{
	margin: 10px auto;
	background-color: white;
	align-self: center;
	position: relative;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	border-radius: 22px;

}


.axis path,
.axis line {
	fill: none;
	stroke: #393E41;
	shape-rendering: crispEdges;
}

.x.axis path, 
.x.axis line {
	fill: none;
	stroke: #393E41;
	shape-rendering: crispEdges;
}



.typelabel{
	fill: #333;
	font-size: 9px;
	font-style: bold;
	font-family: Helvetica;
}


.countrygroup .typelabel{
	display: none;
}
.countrygroup.active .typelabel{
	display: block;
}
.countrygroup.active path{
	stroke: #E94F37;
	opacity: 1;
}
.countrygroup path{
    fill: none;
    stroke-width: 1;
    stroke: #545A5E;
}


/*//GRIDLINES*/
#lines .axis line{
	stroke: #E94F37;
	stroke-dasharray: 0,4;
}

section {
/*	padding: 20px;
	width: 800px;*/
	background-color: white;
	font-size: 12px;
}

#dropper{
	margin: 10px auto;
	background-color: white;
	align-self: center;
	position: relative;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	border-radius: 22px;

}



