body, html{
	margin:0;padding:0;
	font-family: "Helvetica", sans-serif;
	font-size: 1.2em;
}

section{
	max-width: 1220px;
	width: 88%;
	margin: 10px auto 80px;
}

h2{
	font-size: 1.3em;
}

h3{
	margin: 6px 0;
}

ul{
	list-style: none;
	margin: 6px 0;
	font-size: 0.8em;
	padding: 0;
}

.counties {
  fill: none;
}
.counties path:hover{
	stroke: #111;
}
.state-borders {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.q0-9 { fill:rgb(247,251,255); }
.q1-9 { fill:rgb(222,235,247); }
.q2-9 { fill:rgb(198,219,239); }
.q3-9 { fill:rgb(158,202,225); }
.q4-9 { fill:rgb(107,174,214); }
.q5-9 { fill:rgb(66,146,198); }
.q6-9 { fill:rgb(33,113,181); }
.q7-9 { fill:rgb(8,81,156); }
.q8-9 { fill:rgb(8,48,107); }


.stroke {
  fill: none;
  stroke: #000;
  stroke-width: 3px;
}
.graticule {
  stroke: rgba(150,150,150,1);
  fill: none;
}


.tooltip{
	position: absolute;
	padding: 3px 8px;
	border: 1px solid #bbb;
	background-color: rgba(255,255,255,0.8);
	font-size: 12px;
	color: #333;
	pointer-events: none;
	display: none;
	top: 0px;
	left: 0px;
}
.tooltip.show{
	display: block;
}

