body, html{
	margin:0;padding:0;
	font-family: "Helvetica", sans-serif;
	font-size: 1.2em;
}

section{
	max-width: 1000px;
	width: 66.666%;
	margin: 100px auto 80px;
	padding: 100px;
	background-color: white;
}

p{
	font-size: 12px;
	font-family: 'Arial';
}

h1{
	margin: 1px 0;
	padding: 0px;
	font-size: 144px;
	font-family: 'Amatic SC', cursive;
}


h3{
	margin: 6px 0;
	font-family: 'Amatic SC', cursive;
}

ul{
	list-style: none;
	margin: 6px 0;
	font-size: 0.8em;
	padding: 0;
}


/*.lefty{
	float: left;
}

#tsvoutput{
	overflow: hidden;
}

#tsvoutput h4{
	margin: 8px 0;
}

#tsvoutput ul:first-child{
	margin-right: 30px;
}*/

svg{
	border: 2px solid #333;
	margin: 30px auto;
	padding: 30px;
	background-color: white;
}

.bar {
  fill: #E94F37;
  transition: all 0.93s ease-out;
  transform: translate(0px, 0px);
}

#barchart .bar:hover {
  fill: #3F88C5;
  transform: translate(0px, -10px);
}

.axis {
  font: 10px sans-serif;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.barlabel{
	fill: #ddd;
	font-size: 14px;
	text-anchor: middle;
}







