body, html{
	margin:0;padding:0;
	font-family: "Helvetica", sans-serif;
	font-size: 1.2em;
}

section{
	max-width: 1220px;
	width: 88%;
	margin: 10px auto 80px;
}

h3{
	margin: 6px 0;
}

ul{
	list-style: none;
	margin: 6px 0;
	font-size: 0.8em;
	padding: 0;
}

.svg-wrapper{

}

svg{
	border: 2px solid #333;
	margin: 30px auto;
}
svg.block{
	display: block;
}

.domain{
	display: none;
}
.x.axis .domain{
	display: block;
	stroke: #777;
}

.axis text{
	font-size: 12px;
	fill: #444;
}

.axis .tick line{
	stroke: #777;
	stroke-width: 1px;
}
.y.axis .tick line{
	stroke: #777;
}


.circlegroup{
	font-size: 28px;
	font-weight: bolder;
}

.circlegroup.catA{
	fill: coral;
}
.circlegroup.catB{
	fill: lightpink;
}
.circlegroup.catC{
	fill: cyan;
}
.circlegroup.catD{
	fill: teal;
}
.circlegroup.catE{
	fill: orange;
}

